{% extends "base.html.twig" %}

{% from 'macros.html.twig' import instructorCardList %}

{% block title %}
	Course Summary for
	{{courseInstance.course.code}}
{% endblock %}

{% block body %}
	<header class="mb-4">
		<h1>{{courseInstance.course.code}}
			-
			{{courseInstance.course.name}}</h1>
		<p>{{courseInstance.startDate | date('d/m/Y')}}
			-
			{{courseInstance.endDate | date('d/m/Y')}}</p>
	</header>


	<div
		class="row mb-4">
		{# Main #}
		<div class="col-md-8 mt-4">
			<h2>Students at Risk</h2>
			{{_self.studentsAtRiskTable(studentsAtRisk)}}
			<h2>Labs</h2>
			{{_self.labTable(labs, currentDate)}}
		</div>
		{# Sidebar #}
		<div class="col-md-4 mt-4">
			{{_self.riskSettings(riskSettingsForm)}}

			{{instructorCardList(courseInstance.instructors)}}
		</div>

	</div>

{% endblock %}

{% macro labTable(labs, currentDate) %}
	{% if labs %}
		<table id="lab-table" class="table table-sm">
			<thead>
				<tr>
					<th>Lab</th>
					<th>Start Date</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for lab in labs %}
					{% set courseInstance = lab.courseInstance %}
					{% set href = path('view_lab_summary', {
        courseId: courseInstance.course.code,
        instanceIndex: courseInstance.indexInCourse,
        labSlug: lab.slug
    }) %}
					<tr>
						<td>
							<a href="{{href}}">{{lab.name}}</a>
						</td>
						<td>{{lab.startDateTime | date("d/m/Y")}}</td>

						<td>
							{% if lab.startDateTime > currentDate %}
								<span class="text-secondary">Inactive</span>
							{% else %}
								<span class="text-success">Open</span>
							{% endif %}
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		No labs in course.
	{% endif %}
{% endmacro %}


{% macro studentsAtRiskTable(enrolmentRisks) %}
	{% if enrolmentRisks %}
		<table id="lab-table" class="table table-sm">
			<thead>
				<tr>
					<th>Student</th>
					<th>Average Risk Factor</th>
					<th>Flag</th>
					<th>When</th>
				</tr>
			</thead>
			<tbody>
				{% for enrolmentRisk in enrolmentRisks %}
					{% set enrolment = enrolmentRisk.enrolment %}
					{% set student = enrolment.student %}
					{% set courseInstance = enrolment.courseInstance %}
					{% set href = path('view_course_student_summary', {
        courseId: courseInstance.course.code,
        instanceIndex: courseInstance.indexInCourse,
        studentId: student.guid
    }) %}
					<tr>
						<td>
							<a href="{{href}}">{{student.guid}}
								-
								{{student.user.fullname}}</a>
						</td>
						<td>
							<span class="text-danger">{{enrolmentRisk.averageRiskFactor}}%</span>
						</td>
						<td>
							{% if enrolment.riskFlag %}
								{% if enrolment.riskFlag == constant('App\\Entity\\Enrolment::FLAG_AUTOMATIC') %}
									<span class="text-danger">Flagged Automatically</span>
								{% endif %}
							{% else %}
								<span class="text-secondary">-</span>
							{% endif %}

						</td>
						<td>
							{% if enrolment.riskFlagDateTime %}
								{{enrolment.riskFlagDateTime | date('d/m/Y H:i')}}
							{% else %}
								<span class="text-secondary">Scheduled</span>
							{% endif %}
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		No students found to be at risk.
	{% endif %}
{% endmacro %}

{% macro riskSettings(riskSettingsForm) %}

	{% set riskFactorTooltip %}
	<a href="#" data-trigger="focus hover" data-toggle="popover" title="Risk factor" data-content="Each affective survey question can have one or more 'danger zones'. If a student's response falls into the 'warning' or 'danger zone' bounds for that question, it is assigned that zone's risk value. A student's risk factor is the sum of the student's response risks for a lab survey, divided by the maximum possible risk value for that lab as a percentage.">risk factor</a>
	{% endset %}

	<div class="card mb-4">
		<h2 class="card-header h5">Risk Settings</h4>
		<div class="card-body">
			<p class="card-text">
				<small>Students at risk are those with a
					{{riskFactorTooltip}}
					above the threshold % for X consecutive labs.</small>
			</p>

			{{ form_start(riskSettingsForm) }}
			<div id="risk-threshold-form-group" class="form-group">
				<label class="my-1 mr-2" for="riskThresholdSlider">Set risk threshold %</label>
				<input class="form-control" type="range" name="riskThresholdSlider" id="riskThresholdSlider">
				{{ form_widget(riskSettingsForm.riskThreshold) }}
			</div>

			{{ form_row(riskSettingsForm.riskConsecutiveLabCount)}}
			{{form_row(riskSettingsForm.submit)}}

			{{ form_end(riskSettingsForm)}}

		</div>
	</div>
{% endmacro %}

{% block javascripts %}
	{{parent()}}
	<script>
		const riskThresholdSlider = document.querySelector('#risk-threshold-form-group input[type=range]');
const riskThresholdNumberBox = document.querySelector('#risk-threshold-form-group input[type=number]');

const setSliderFromNumberBox = function () {
riskThresholdSlider.value = riskThresholdNumberBox.value;
}

riskThresholdSlider.oninput = function () {
riskThresholdNumberBox.value = riskThresholdSlider.value;
};;

riskThresholdNumberBox.oninput = setSliderFromNumberBox;

setSliderFromNumberBox();
	</script>
{% endblock %}
