{% extends "base.html.twig" %}

{% from 'macros.html.twig' import studentBreadcrumbs %}

{% block title %}
	{{courseInstance.course.code}}
{% endblock %}

{% block body %}
	<h1>{{courseInstance.course.code}}
		-
		{{courseInstance.course.name}}</h1>
	<h2>{{courseInstance.startDate | date('d/m/Y')}}
		-
		{{courseInstance.endDate | date('d/m/Y')}}</h2>

	{% block content %}{% endblock %}
{% endblock %}
