{% extends "column_template.html.twig" %}

{% from 'macros.html.twig' import riskStatus %}

{% block header %}
	<div class="jumbotron">
	<h1 class="display-4">Check In</h1>
	<p class="lead">
		A feedback platform which is designed to help instructors provide support to students quickly.
	</p>
	<p> 
		This platform provides quick feedback surveys for you to complete the end of each lab in a course. 
		Your responses are 
		<a href="#"
		data-trigger="focus hover" 
		data-toggle="popover"
		data-placement="top"
		data-content="This is done using sentiment analysis and risk thresholds configured by your instructor(s)."
		> 
			automatically analysed to detect problematic areas 
		</a>
		. If the analysis indicates that you may require extra support for a course, the software will notify you and your course's instructor(s). 
	 	Alternatively, you can manually signal to instructors that you need additional support using 
		 <a href="#"
		data-trigger="focus hover" 
		data-toggle="popover"
		data-placement="top"
		data-content="This is found on a course page."
		> 
		 a course's 'self-flag' feature. 
		 </a>
	</p>
	<p class="font-italic">
		Click the 'Explain this page' button in the menu to access additional documentation for the page you are on.
	</p>
	</div>
{% endblock %}

{% block first_column %}
	<h2>My Courses</h2>
	<p> These are the courses that you are enrolled on.</p>
	{{_self.studentCoursesTable(enrolments, studentId)}}
{% endblock %}

{% block second_column %}
	<h2>Recent Pending Lab Surveys</h2>
	<p>These are surveys for your most recent labs</p>
	{{_self.recentPendingLabSurveys(recentLabs, studentId)}}
{% endblock %}

{% macro studentCoursesTable(enrolments, studentId) %}
	{% if enrolments %}
		<p class="text-secondary">Click the links under 'name' to view your summary for that course.</p>
		<table id="course-list" class="table table-sm">
			<thead>
				<tr>
					<th data-sort-default data-sort-method='datesort'>Start</th>
					<th data-sort-method='datesort'>End</th>
					<th>Name</th>
					<th>Support Status</th>
				</tr>
			</thead>
			<tbody>
				{% for enrolment in enrolments %}
					{% set courseInstance = enrolment.courseInstance %}

					{% set href = path(
					constant('App\\Controller\\StudentSummaryPageController::ROUTE'),
					{
						courseId: courseInstance.course.code,
						instanceIndex: courseInstance.indexInCourse,
						studentId: studentId
					}
				) %}

					<tr>
						<td>{{courseInstance.startDate | date("d/m/Y")}}</td>
						<td>{{courseInstance.endDate | date("d/m/Y")}}</td>
						<td>
							<a href="{{href}}">{{courseInstance.course.code}}-{{courseInstance.course.name}}</a>
						</td>
						<td class="risk-status">
							{% if enrolment.riskFlag %}
								{{riskStatus(enrolment.riskFlag)}}
							{% else %}
								<span class="text-success">None</span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>You are not enrolled in any courses.</p>
	{% endif %}
{% endmacro %}

{% macro recentPendingLabSurveys(recentLabs, studentId) %}
	{% if recentLabs %}
		<p class="text-secondary">Click the links under 'lab' to complete your progress survey for that lab.</p>
		<table id="recent-pending-lab-list" class="table table-sm">
			<thead>
				<tr>
					<th data-sort-default data-sort-method='datesort' aria-sort='ascending'>Date</th>
					<th>Course</th>
					<th>Lab</th>
				</tr>
			</thead>
			<tbody>
				{% for lab in recentLabs %}
					{% set href = path(
						constant('App\\Controller\\LabSurveyPageController::ROUTE'), 
						{
							courseId: lab.courseInstance.course.code,
							instanceIndex: lab.courseInstance.indexInCourse,
							labSlug: lab.slug,
							studentId: studentId,
							page: 1
					}) %}
					<tr>
						<td>{{lab.startDateTime | date("d/m/Y")}}</td>
						<td>{{lab.courseInstance.course.name}}</td>
						<td>
							<a href="{{href}}">{{lab.name}}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No pending lab surveys to complete.</p>
	{% endif %}
{% endmacro %}

{% block tour_script %}
<script>
tourStep(tour, {
	attachTo: {
		element: '#course-list',
		on: 'top'
	},
	title: 'Your course list',
	text: 'Here are all the courses your are enrolled on.',
});

tourStep(tour, {
	attachTo: {
		element: '#course-list th',
		on: 'right'
	},
	title: 'Sort tables',
	text: 'Clicking the table headers will sort the items in the table by that column. Click once to sort in ascending order and again to sort in descending order.'
});

tourStep(tour, {
	attachTo: {
		element: '#course-list a',
		on: 'bottom'
	},
	title: 'Course links',
	text: 'Click a course link to view a summary of your survey responses for that course and additional information such as instructors. You can view your support status and request support for the courses there.'
});

tourStep(tour, {
	attachTo: {
		element: '#course-list .risk-status span',
		on: 'left'
	},
	title: 'Support Status',
	text: 'This will tell you if you have been flagged for support on the course, either manually by an instructor or yourself. It will also state if you were automatically based on the content of your survey responses. To see more details about the flag, go to that course\'s page.'
});

tourStep(tour, {
	attachTo: {
		element: '#recent-pending-lab-list',
		on: 'top'
	},
	title: 'Your pending lab surveys',
	text: 'These are the most recent labs you have which require completion.'
});

finalTourStep(tour, {
	attachTo: {
		element: '#recent-pending-lab-list a',
		on: 'left'
	},
	title: 'Pending lab survey links',
	text: 'Click the link to start the survey.'
});

</script>
{% endblock %}