{% extends "base.html.twig" %}

{% from 'macros.html.twig' import instructorCardList %}

{% block title %}
	Course Summary for
	{{courseInstance.course.code}}
{% endblock %}

{% block body %}
	<header class="mb-4">
		<h1>{{courseInstance.course.code}}
			-
			{{courseInstance.course.name}}</h1>
		<p>{{courseInstance.startDate | date('d/m/Y')}}
			-
			{{courseInstance.endDate | date('d/m/Y')}}</p>
	</header>

	<div class="row mb-4">
		<div class="col-md-8 order-2 order-md-1 mt-4">
			<h2>Students at Risk</h2>
			{{_self.studentsAtRiskTable(studentsAtRisk)}}
		</div>
		<div class="col-md-4 order-1 order-md-2 mt-4">
			<div class="card">
				<h2 class="card-header h5">Risk Settings</h4>
				<div class="card-body">
					<p class="card-text">Set the risk here</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-md-8 mt-4">
			<h2>Labs</h2>
			{{_self.labTable(labs, currentDate)}}
		</div>
		<div class="col-md-4 mt-4">
			{{instructorCardList(courseInstance.instructors)}}
		</div>
	</div>

{% endblock %}

{% macro labTable(labs, currentDate) %}
	{% if labs %}
		<table id="lab-table" class="table table-sm">
			<thead>
				<tr>
					<th>Start Date</th>
					<th>Name</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for lab in labs %}
					{% set courseInstance = lab.courseInstance %}
					{% set href = path('view_lab_summary', {
        courseId: courseInstance.course.code,
        instanceIndex: courseInstance.indexInCourse,
        labSlug: lab.slug
    }) %}
					<tr>
						<td>{{lab.startDateTime | date("d/m/Y")}}</td>
						<td>
							{{lab.name}}
						</td>
						<td>
							{% if lab.startDateTime > currentDate %}
								<span class="text-secondary">Inactive</span>
							{% else %}
								<span class="text-success">Open</span>
							{% endif %}
						</td>
						<td class="text-right">
							<a class="btn btn-info btn-sm" href="{{href}}">View</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		No labs in course.
	{% endif %}
{% endmacro %}


{% macro studentsAtRiskTable(enrolmentRisks) %}
	{% if enrolmentRisks %}
		<table id="lab-table" class="table table-sm">
			<thead>
				<tr>
					<th>Student</th>
					<th>Average Risk Factor</th>
				</tr>
			</thead>
			<tbody>
				{% for enrolmentRisk in enrolmentRisks %}
					{% set enrolment = enrolmentRisk.enrolment %}
					{% set student = enrolment.student %}
					{% set courseInstance = enrolment.courseInstance %}
					{% set href = path('view_course_student_summary', {
        courseId: courseInstance.course.code,
        instanceIndex: courseInstance.indexInCourse,
        studentId: student.guid
    }) %}
					<tr>
						<td>
							<a href="{{href}}">{{student.guid}}
								-
								{{student.user.fullname}}</a>
						</td>
						<td>
							<span class="text-danger">{{enrolmentRisk.averageRiskFactor}}%</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		No students found to be at risk.
	{% endif %}
{% endmacro %}
