{% extends "column_template.html.twig" %}

{% from 'macros.html.twig' import riskStatus %}

{% block header %}
	<h1>My Courses</h1>
	<p class="lead">These are the courses that you are enrolled on.</p>
{% endblock %}

{% block first_column %}
	<h2>My Courses</h2>
	{{_self.studentCoursesTable(enrolments, studentId)}}
{% endblock %}

{% block second_column %}
	<h2>Recent Pending Lab Surveys</h2>
	{{_self.recentPendingLabSurveys(recentLabs, studentId)}}
{% endblock %}

{% macro studentCoursesTable(enrolments, studentId) %}
	{% if enrolments %}
		<p class="text-secondary">Click the links under 'name' to view your summary for that course.</p>
		<table id="course-list" class="table table-sm">
			<thead>
				<tr>
					<th data-sort-default data-sort-method='datesort'>Start</th>
					<th data-sort-method='datesort'>End</th>
					<th>Name</th>
					<th>Support Status</th>
				</tr>
			</thead>
			<tbody>
				{% for enrolment in enrolments %}
					{% set courseInstance = enrolment.courseInstance %}

					{% set href = path(
					constant('App\\Controller\\CourseController::STUDENT_SUMMARY_PAGE'),
					{
						courseId: courseInstance.course.code,
						instanceIndex: courseInstance.indexInCourse,
						studentId: studentId
					}
				) %}

					<tr>
						<td>{{courseInstance.startDate | date("d/m/Y")}}</td>
						<td>{{courseInstance.endDate | date("d/m/Y")}}</td>
						<td>
							<a href="{{href}}">{{courseInstance.course.code}}-{{courseInstance.course.name}}</a>
						</td>
						<td>
							{% if enrolment.riskFlag %}
								{{riskStatus(enrolment.riskFlag)}}
							{% else %}
								<span class="text-success">None</span>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>You are not enrolled in any courses.</p>
	{% endif %}
{% endmacro %}

{% macro recentPendingLabSurveys(recentLabs, studentId) %}
	{% if recentLabs %}
		<p class="text-secondary">Click the links under 'lab' to complete your progress survey for that lab.</p>
		<table id="recent-pending-lab-list" class="table table-sm">
			<thead>
				<tr>
					<th data-sort-default data-sort-method='datesort'>Date</th>
					<th>Course</th>
					<th>Lab</th>
				</tr>
			</thead>
			<tbody>
				{% for lab in recentLabs %}
					{% set href = path('lab_survey_response', {
						courseId: lab.courseInstance.course.code,
						instanceIndex: lab.courseInstance.indexInCourse,
						labSlug: lab.slug,
						studentId: studentId,
						page: 1
					}) %}
					<tr>
						<td>{{lab.startDateTime | date("d/m/Y")}}</td>
						<td>{{lab.courseInstance.course.name}}</td>
						<td>
							<a href="{{href}}">{{lab.name}}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No pending lab surveys to complete.</p>
	{% endif %}
{% endmacro %}

{% block tour_script %}
<script>
tour.addStep({
	attachTo: {
		element: '#course-list',
		on: 'right'
	},
	title: 'Your course list',
	text: 'Here are all the courses your are enrolled on.',
	buttons: [{
		text: 'Next',
		action: tour.next,
	}]
});
tour.addStep({
	attachTo: {
		element: '#course-list th',
		on: 'right'
	},
	title: 'Sort tables',
	text: 'Clicking the table headers will sort the items in the table by that column. Click once to sort in ascending order and again to sort in descending order.',
	buttons: [{
		text: 'Next',
		action: tour.next,
	}]
});
tour.addStep({
	attachTo: {
		element: '#course-list a',
		on: 'right'
	},
	title: 'Course links',
	text: 'Click a course link to view your lab summaries for that course.',
	buttons: [{
		text: 'Next',
		action: tour.next,
	}]
});
</script>
{% endblock %}