{#
courses_instructor.html.twig
Gareth Sears - 2493194S

A template for the instructors' Courses page (the home page).
#}

{% extends "column_template.html.twig" %}

{% block header %}
	<div class="jumbotron">
	<h1 class="display-4">Check In</h1>
	<p class="lead">
		A feedback platform which is designed to help instructors provide support to students quickly.
	</p>
	<p> 
		This platform allows students to submit short feedback surveys following their labs. 
		Their responses are 
		<a href="#"
		data-trigger="focus hover" 
		data-toggle="popover"
		data-placement="top"
		data-content="This is done using sentiment analysis and risk thresholds which you can configure on the course and lab pages."
		> 
			automatically analysed to detect problematic areas 
		</a>
		. If the analysis indicates that a student may require extra support for a course, the software will notify you and your student. 
	 	Alternatively, you can manually signal to the student and other instructors that the student needs additional support using 
		 <a href="#"
		data-trigger="focus hover" 
		data-toggle="popover"
		data-placement="top"
		data-content="This is found on a course page."
		> 
		 a course's 'manual flag' feature. 
		 </a>
	</p>
	<p class="font-italic">
		Click the 'Explain this page' button in the menu to access additional documentation for the page you are on.
	</p>
	</div>
{% endblock %}

{% block first_column %}
	<h2>My Courses</h2>
	<p> These are the courses you instruct </p>
	{{_self.instructorCoursesTable(courseInstances)}}
{% endblock %}

{% block second_column %}
	<h2>Recent Labs</h2>
	<p> These are your most recently started labs </p>
	{{_self.recentLabsTable(recentLabs)}}
{% endblock %}

{% macro instructorCoursesTable(courseInstances) %}
	{% if courseInstances %}
		<p class="text-secondary">Click the links under 'name' to view summaries for that course.</p>
		<table id="course-list" class="table table-sm">
			<thead>
				<tr>
					<th data-sort-default data-sort-method='datesort'>Start</th>
					<th data-sort-method='datesort'>End</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				{% for courseInstance in courseInstances %}

					{% set href = path(
					constant('App\\Controller\\CourseSummaryPageController::ROUTE'),
					{
						courseId: courseInstance.course.code,
						instanceIndex: courseInstance.indexInCourse
					}
				) %}

					<tr>
						<td>{{courseInstance.startDate | date("d/m/Y")}}</td>
						<td>{{courseInstance.endDate | date("d/m/Y")}}</td>
						<td>
							<a class="lab-link" href="{{href}}">{{courseInstance.course.code}}-{{courseInstance.course.name}}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No courses to display.</p>
	{% endif %}
{% endmacro %}

{% macro recentLabsTable(recentLabs) %}
	{% if recentLabs %}
		<p class="text-secondary">Click the links under 'lab' to view summaries for that lab.</p>
		<table id="recent-lab-list" class="table table-sm">
			<thead>
				<tr>
					<th data-sort-default data-sort-method='datesort' aria-sort='ascending'>Date</th>
					<th>Course</th>
					<th>Lab</th>
				</tr>
			</thead>
			<tbody>
				{% for lab in recentLabs %}
					{% set href = path(
						constant('App\\Controller\\LabSummaryPageController::ROUTE'),
						{
							courseId: lab.courseInstance.course.code,
							instanceIndex: lab.courseInstance.indexInCourse,
							labSlug: lab.slug
    					}
					) %}
					<tr>
						<td>{{lab.startDateTime | date("d/m/Y")}}</td>
						<td>{{lab.courseInstance.course.name}}</td>
						<td>
							<a href="{{href}}">{{lab.name}}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No recent labs to display.</p>
	{% endif %}
{% endmacro %}

{% block tour_script %}
<script>
tourStep(tour, {
	attachTo: {
		element: '#course-list',
		on: 'top'
	},
	title: 'Your course list',
	text: 'Here are all the courses your instruct.'
});

tourStep(tour, {
	attachTo: {
		element: '#course-list th',
		on: 'right'
	},
	title: 'Sort tables',
	text: 'Clicking the table headers will sort the items in the table by that column. Click once to sort in ascending order and again to sort in descending order.'
});

tourStep(tour, {
	attachTo: {
		element: '#course-list a',
		on: 'bottom'
	},
	title: 'Course links',
	text: 'Click a course link to view a summary of that course. Here you will see the labs, be able to configure automatic risk detection, and view the students enrolled.'
});

tourStep(tour, {
	attachTo: {
		element: '#recent-lab-list',
		on: 'top'
	},
	title: 'Most recent labs',
	text: 'These are the most recent labs surveys which have opened to students to collect responses.'
});

finalTourStep(tour, {
	attachTo: {
		element: '#recent-lab-list a',
		on: 'left'
	},
	title: 'Lab summary links',
	text: 'Click the link to view a summary of student responses for that lab, including student risk factors.'
});
</script>
{% endblock %}
