{% extends "course/courses_base.html.twig" %}

{% block course_list %}
	<table id="course-list" class="table table-sm">
		<thead>
			<tr>
				<th>Start</th>
				<th>End</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			{% for courseInstance in courseInstances %}
				{% set href = path('view_course_student_summary', {
        courseId: courseInstance.course.code,
        instanceIndex: courseInstance.indexInCourse,
        studentId: studentId
    }) %}
				<tr>
					<td>{{courseInstance.startDate | date("d/m/Y")}}</td>
					<td>{{courseInstance.endDate | date("d/m/Y")}}</td>
					<td>
						<a href="{{href}}">{{courseInstance.course.code}}-{{courseInstance.course.name}}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block recent_labs_list %}
	{% if recent_labs %}
		<table id="recent-lab-list" class="table table-sm">
			<thead>
				<tr>
					<th>Date</th>
					<th>Course</th>
					<th>Lab</th>
				</tr>
			</thead>
			<tbody>
				{% for lab in recentLabs %}
					{% set href = path('lab_survey_response', {
        courseId: lab.courseInstance.course.code,
        instanceIndex: lab.courseInstance.indexInCourse,
        labId: lab.id,
        studentId: studentId,
        page: 1
    }) %}
					<tr>
						<td>{{lab.startDateTime | date("d/m/Y")}}</td>
						<td>{{lab.courseInstance.course.name}}</td>
						<td>
							<a href="{{href}}">{{lab.name}}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		No recent labs...
	{% endif %}
{% endblock %}
