{% extends "column_template.html.twig" %}

{% block header %}
	<h1>My Courses</h1>
	<p class="lead">These are the courses that you instruct.</p>
{% endblock %}

{% block first_column %}
	<h2>My Courses</h2>
	{{_self.instructorCoursesTable(courseInstances)}}
{% endblock %}

{% block second_column %}
	<h2>Recent Labs</h2>
	{{_self.recentLabsTable(recentLabs)}}
{% endblock %}

{% macro instructorCoursesTable(courseInstances) %}
	{% if courseInstances %}
		<p class="text-secondary">Click the links under 'name' to view summaries for that course.</p>
		<table id="course-list" class="table table-sm">
			<thead>
				<tr>
					<th data-sort-default data-sort-method='datesort'>Start</th>
					<th data-sort-method='datesort'>End</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				{% for courseInstance in courseInstances %}

					{% set href = path(
					constant('App\\Controller\\CourseController::COURSE_SUMMARY_PAGE'),
					{
						courseId: courseInstance.course.code,
						instanceIndex: courseInstance.indexInCourse
					}
				) %}

					<tr>
						<td>{{courseInstance.startDate | date("d/m/Y")}}</td>
						<td>{{courseInstance.endDate | date("d/m/Y")}}</td>
						<td>
							<a href="{{href}}">{{courseInstance.course.code}}-{{courseInstance.course.name}}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No courses to display.</p>
	{% endif %}
{% endmacro %}

{% macro recentLabsTable(recentLabs) %}
	{% if recentLabs %}
		<p class="text-secondary">Click the links under 'lab' to view summaries for that lab.</p>
		<table id="recent-lab-list" class="table table-sm">
			<thead>
				<tr>
					<th data-sort-default data-sort-method='datesort'>Date</th>
					<th>Course</th>
					<th>Lab</th>
				</tr>
			</thead>
			<tbody>
				{% for lab in recentLabs %}
					{% set href = path(
						constant('App\\Controller\\CourseController::LAB_SUMMARY_PAGE'),
						{
							courseId: lab.courseInstance.course.code,
							instanceIndex: lab.courseInstance.indexInCourse,
							labSlug: lab.slug
    					}
					) %}
					<tr>
						<td>{{lab.startDateTime | date("d/m/Y")}}</td>
						<td>{{lab.courseInstance.course.name}}</td>
						<td>
							<a href="{{href}}">{{lab.name}}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No recent labs to display.</p>
	{% endif %}
{% endmacro %}
