{% extends "course/course_instance_base.html.twig" %}

{% from 'macros.html.twig' import weightedRiskToTrafficLights %}

{% block content %}
	<h2>{{student.guid}}-{{student.user.fullname}}</h2>
	{{_self.instructorList(courseInstance.instructors)}}
	{{_self.pendingLabTable("pending labs", pendingLabs, courseInstance, student)}}
	{{_self.completedLabTable("completed labs", completedLabsWithRisk, courseInstance, student)}}
{% endblock %}


{% macro instructorList(instructors) %}
	<h2>Instructors</h2>
	<ul>
		{% for instructor in instructors %}
			<li>{{instructor.user.fullname}}</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% macro pendingLabTable(title, labs, courseInstance, student) %}
	<h2>Pending Lab Surveys</h2>
	{% if labs %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Lab Name</th>
					<th scope="col">Date</th>
					<th scope="col">Start Time</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for lab in labs %}
					<tr>
						<td>{{lab.name}}</td>
						<td>{{lab.startDateTime | date("d/m/Y")}}</td>
						<td>{{lab.startDateTime | date("H:i")}}</td>
						<td>
							<a class="btn btn-primary" href="{{path('lab_survey_response', { courseId: courseInstance.course.code, instanceIndex: courseInstance.indexInCourse, labSlug: lab.slug, studentId: student.guid, page: 1 })}}">
								Complete Survey
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		No pending labs to complete.
	{% endif %}
{% endmacro %}

{% macro completedLabTable(title, labsWithRisk, courseInstance, student) %}
	<h2>Completed Lab Surveys</h2>
	{% if labsWithRisk %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Lab Name</th>
					<th scope="col">Date</th>
					<th scope="col">Start Time</th>
					<th scope="col">Risk</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for labWithRisk in labsWithRisk %}
					{% set lab = labWithRisk.lab %}
					<tr>
						<td>{{lab.name}}</td>
						<td>{{lab.startDateTime | date("d/m/Y")}}</td>
						<td>{{lab.startDateTime | date("H:i")}}</td>
						{# From Macros #}
						<td>{{weightedRiskToTrafficLights(labWithRisk.weightedRisks)}}</td>
						<td>
							{# TODO: CHANGE LINK #}
							<a class="btn btn-secondary" href="{{path('lab_survey_response', { courseId: courseInstance.course.code, instanceIndex: courseInstance.indexInCourse, labSlug: lab.slug, studentId: student.guid, page: 1 })}}">
								View Response
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		No pending labs to complete.
	{% endif %}
{% endmacro %}
