{% block lab_survey_response_row %}
    <h1>{{lab.name}}</h1>
    <small>{{lab.courseInstance.course.code}}</small>
{% endblock %}

{% block lab_survey_response_label %}
    label
{% endblock %}

{% block lab_survey_response_widget %}
    widgh
{% endblock %}

{# This widget creates an instance of the vue component from forms #}
{% block xy_question_widget %}
    <div id="xy-{{id}}">
        Loading...
    </div>

    <script>
    // Waits until js and everything else is ready and loads
    // an instance of the XY selector.
    addLoadEvent(() => {
        XYQuestionWidgetFactory('#xy-{{id}}', {{values}}, {
            {% if x_field_id and y_field_id %}
                onChange: (values) => {
                    var x = document.querySelectorAll("[data-id='{{x_field_id}}']")[0];
                    x.value = values[0].x;

                    var y = document.querySelectorAll("[data-id='{{y_field_id}}']")[0];
                    y.value = values[0].y;
                },
            {% endif %}

            xLabelHigh: '{{x_label_high}}',
             xLabelLow: '{{x_label_low}}',
            yLabelHigh: '{{y_label_high}}',
             yLabelLow: '{{y_label_low}}',
        });

    });
    </script>
{% endblock %}
