{# A custom template for rendering the xy_coordinates form widget #}
{% block xy_coordinates_widget %}

	{# Variable with widget ID #}
	{% set widgetId = id ~ '_xywidget' %}

	{# Render hidden fields #}
	{% for child in form.children|filter(child => not child.rendered) %}
		{{ form_widget(child) }}
	{% endfor %}

	{# Dom element for JS Component #}
	<div id="{{widgetId}}">
		Loading...
	</div>

	<script>
	// Waits until js and everything else is ready and loads an instance of the XY selector.
	addLoadEvent(() => {
		XYQuestionWidgetFactory('#{{ widgetId }}', {
			mode: 'point',
			points: {
				data: {% if initial_data %}
					{{initial_data|raw}}
				{% else %}
					JSON.parse(document.getElementById('{{ id }}_jsonContent').value)
				{% endif %},
				onChange: (points) => {
					document.getElementById('{{ id }}_jsonContent').value = JSON.stringify(points);
				},
			},
			xLabelHigh: '{{ x_label_high }}',
			xLabelLow: '{{ x_label_low }}',
			yLabelHigh: '{{ y_label_high }}',
			yLabelLow: '{{ y_label_low }}',
			cellSizeInRem: {{cell_size}}
		});
	});
	</script>
{% endblock %}

{# A custom template for rendering the xy_danger_zones form widget #}
{% block xy_danger_zones_widget %}

		{# Variable with widget ID #}
	{% set widgetId = id ~ '_xywidget' %}

	{# Render hidden fields #}
	{% for child in form.children|filter(child => not child.rendered) %}
		{{ form_widget(child) }}
	{% endfor %}

	{# Dom element for JS Component #}
	<div id="{{widgetId}}">
		Loading...
	</div>

	<script>

	console.log({{coordinates | raw}});
	// Waits until js and everything else is ready and loads an instance of the XY selector.
	addLoadEvent(() => {
		XYQuestionWidgetFactory('#{{ widgetId }}', {
			mode: {% if read_only %}'readonly-danger'{% else %}'region'{% endif %},
			points: {
				data: {{coordinates | raw}}
			},
			regions: {
				data: {% if initial_data %}
					{{initial_data|raw}}
				{% else %}
					JSON.parse(document.getElementById('{{ id }}_jsonContent').value)
				{% endif %},
				onChange: (regions) => {
					document.getElementById('{{ id }}_jsonContent').value = JSON.stringify(regions);
				},
			},
			xLabelHigh: '{{ x_label_high }}',
			xLabelLow: '{{ x_label_low }}',
			yLabelHigh: '{{ y_label_high }}',
			yLabelLow: '{{ y_label_low }}',
			cellSizeInRem: {{cell_size}}
		});
	});
	</script>
{% endblock %}