{# This widget creates an instance of the vue component from forms #}
{% block xy_component_widget %}
	{# Variable with widget ID #}
	{% set widgetId = id ~ '_xywidget' %}

	{% set data %}
		{% if initial_data %}
			{{initial_data|raw}}
		{% else %}
			JSON.parse(document.getElementById('{{ id }}_jsonContent').value)
		{% endif %}
	{% endset %}
	

	{# Render hidden fields #}
	{% for child in form.children|filter(child => not child.rendered) %}
		{{ form_widget(child) }}
	{% endfor %}

	{# Dom element for JS Component #}
	<div id="{{widgetId}}">
		Loading...
	</div>

	<script>
		// Waits until js and everything else is ready and loads an instance of the XY selector.
addLoadEvent(() => {

	const initialData = {{initial_data|raw}}

	XYQuestionWidgetFactory('#{{ widgetId }}', {{data}} , {
		onChange: (values) => {
			document.getElementById('{{ id }}_jsonContent').value = JSON.stringify(values);
		},
		xLabelHigh: '{{ x_label_high }}',
		xLabelLow: '{{ x_label_low }}',
		yLabelHigh: '{{ y_label_high }}',
		yLabelLow: '{{ y_label_low }}',
		cellSizeInRem: 1
	});
});
	</script>
{% endblock %}
