{% block lab_survey_xy_question_response_label %}
    
{% endblock %}

{# This widget creates an instance of the vue component from forms #}
{% block xy_question_widget %}
	{# Variable with widget ID #}
	{% set widgetId = id ~ '_xywidget' %}

    {# Render hidden fields #}
    {% for child in form.children|filter(child => not child.rendered) %}
        {{ form_widget(child) }}
    {% endfor %}

    {# Dom element for JS Component #}
	<div id="{{widgetId}}">
		Loading...
	</div>

	<script>
    // Waits until js and everything else is ready and loads an instance of the XY selector.
    addLoadEvent(() => {
        const xField = document.getElementById('{{ id }}_xValue');
        const yField = document.getElementById('{{ id }}_yValue');

        let initial = [];
        let x = xField.value;
        let y = yField.value

        if(x && y) {
            initial.push({x, y});
        }

        XYQuestionWidgetFactory('#{{ widgetId }}', initial, {
            onChange: (values) => {
                xField.value = values[0].x;
                yField.value = values[0].y;
            },
            xLabelHigh: '{{ x_label_high }}',
            xLabelLow: '{{ x_label_low }}',
            yLabelHigh: '{{ y_label_high }}',
            yLabelLow: '{{ y_label_low }}',
            cellSizeInRem: 1
        });
    });
	</script>
{% endblock %}
