{% extends "base.html.twig" %}

{% block body %}
	<div class="progress mb-4">
		<div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{(questionNumber / questionCount) * 100}}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
	</div>

	<header>
		<h1>{{labName}}</h1>
		<p>{{courseName}}</p>
	</header>

	{# Render skip button and submit button seperately so we can keep them inline #}
	{% set skipButton = constant('App\\Form\\Type\\SurveyQuestionResponseType::SKIP_BUTTON_NAME') %}
	{% set submitButton = constant('App\\Form\\Type\\SurveyQuestionResponseType::SUBMIT_BUTTON_NAME') %}

	{{form_start(form)}}

	{{form_errors(form)}}

	{% for child in form.children %}
		{% if child.vars.name not in [skipButton, submitButton] %}
			{{ form_row(child) }}
		{% endif %}
	{% endfor %}

	<div class="form-group">
		{{form_widget(form[skipButton])}}
		{{form_widget(form[submitButton])}}
	</div>

	{{form_end(form)}}

{% endblock %}
