{% extends "risk_summary/response.html.twig" %}

{% block icon %}
	<i class="fa {{global_xy_icon}}" aria-hidden="true"></i>
{% endblock %}

{% block info %}
	<h4 class='h6'>XY Response</h4>
	<ul>
		<li>
			<span>{{xFieldName}}:</span>
			{{_self.convertToAffectivePercent(xResponseValue, xLowLabel, xHighLabel)}}
		</li>
		<li>
			<span>{{yFieldName}}:</span>
			{{_self.convertToAffectivePercent(yResponseValue, yLowLabel, yHighLabel)}}
		</li>
	</ul>
{% endblock %}

{% macro convertToAffectivePercent(responseValue, lowLabel, highLabel) %}
	{% if responseValue < 0 %}
		{% set val = responseValue | abs %}
		<span {% if  val >= 5 %} class='text-danger'{% endif %}>{{val  * 10}}% {{lowLabel}}</span>
	{% else %}
		{% set val = responseValue + 1 %}
			<span {% if  val >= 5 %} class='text-success'{% endif %}>{{val  * 10}}% {{highLabel}}</span>
	{% endif %}
{% endmacro %}