{% from 'macros.html.twig' import breadcrumbs %}

{% set _title = block('title') %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			{% if _title is not empty %}
				|
			{% endif %}Check In</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{# Custom onload function to allow inline JS from symfony custom form components #}
		<script type="text/javascript" src="{{asset('head.js')}}"></script>
	</head>
	<body>
		{% block nav %}
			<!-- Navigation -->
			<nav class="navbar navbar-light bg-light shadow">
				<div class="container">
					<a class="navbar-brand" href="/">Check In</a>
					<div class="ml-auto">
						{% if app.user %}
							<a class="nav-link" href="{{path('app_logout')}}">Logout</a>
						{% else %}
							<a class="nav-link" href="{{path('app_login')}}">Login</a>
						{% endif %}

					</div>
				</div>
			</nav>
		{% endblock %}

		<main class="container pt-4">
			{% if breadcrumbArray is defined %}
				{{breadcrumbs(breadcrumbArray)}}
			{% endif %}

			{% block body %}{% endblock %}
		</main>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
