{% from 'macros.html.twig' import breadcrumbs %}

{% set _title = block('title') %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			{% if _title is not empty %}
				|
			{% endif %}Check In</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{# Custom onload function to allow inline JS from symfony custom form components #}
		<script type="text/javascript" src="{{asset('head.js')}}"></script>
	</head>
	<body>
		{% block nav %}

			<!-- Navigation -->
			<nav class="navbar navbar-light bg-white shadow navbar-expand-lg">
				<div class="container">
					<a class="navbar-brand" href="/">Check In</a>
					<ul class="navbar-nav list-group list-group-horizontal">
						<li class="nav-item list-group-item border-0">
							<button id="tour-button" class="btn btn-primary">
								<i class="fa fa-info-circle mr-1" aria-hidden="true"></i>
								Explain this page</button>
						</li>
						<li class="nav-item list-group-item border-0">
							{% if app.user %}
								<a class="nav-link" href="{{path('app_logout')}}">Logout</a>
							{% else %}
								<a class="nav-link" href="{{path('app_login')}}">Login</a>
							{% endif %}
						</li>
					</ul>
				</div>
			</nav>
		{% endblock %}

		<main class="container pt-4">
			{% if breadcrumbArray is defined %}
				{{breadcrumbs(breadcrumbArray)}}
			{% endif %}

			{% block body %}{% endblock %}
		</main>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<script>
			const tour = new Shepherd.Tour({
				useModalOverlay: true,
				defaultStepOptions: {
					scrollTo: true,
					cancelIcon: {
						enabled: true,
						label: 'close help'
					}
				}
			});
		</script>

		{% block tour_script %}
		<script>
			tour.addStep({
				text: 'Sorry, no help exists for this page...yet!'
			});
		</script>
		{% endblock %}
		
		<script>
			document.getElementById('tour-button').onclick = () => {
				tour.start();
			}
		</script>
	</body>
</html>
