{#
base.html.twig
Gareth Sears - 2493194S

The base class for all templates.
#}

{% from 'macros.html.twig' import breadcrumbs %}

{% set _title = block('title') %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{# Title can be changed by title block #}
		<title>
			{% block title %}{% endblock %}
			{% if _title is not empty %}
				|
			{% endif %}Check In
		</title>

		{# Load CSS #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{# Loads the entry point preload.js for essential preload javascript #}
		{{ encore_entry_script_tags('preload') }}
		
	</head>
	<body>

		{# Loading bar #}
		<div id="loading-bar" class="fixed-top d-none w-100 progress" style="height: 5px;">
			<div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
		</div>

		{% block nav %}
			<!-- Navigation -->
			<nav class="navbar navbar-light bg-white shadow navbar-expand-lg">
				<div class="container">
					<a class="navbar-brand" href="/">Check In</a>

					{# Display current user #}
					{% if app.user %}
							<span class="lead">
								Current User: {{app.user.fullname}}
								(
								{% if is_granted((constant('App\\Security\\Roles::STUDENT'))) %}
									Student
								{% endif %}
								{% if is_granted((constant('App\\Security\\Roles::INSTRUCTOR'))) %}
									Instructor
								{% endif %}
								)
							</span>
					{% endif %}

					{# Always have an explain this page tour for a page #}
					<ul class="navbar-nav list-group list-group-horizontal">
						<li class="nav-item list-group-item border-0">
							<button id="tour-button" class="btn btn-primary">
								<i class="fa fa-info-circle mr-1" aria-hidden="true"></i>
								Explain this page</button>
						</li>

						{# Login / Logout link #}
						<li class="nav-item list-group-item border-0">
							{% if app.user %}
								<a class="nav-link" href="{{path('app_logout')}}">Logout</a>
							{% else %}
								<a class="nav-link" href="{{path('app_login')}}">Login</a>
							{% endif %}
						</li>
					</ul>
				</div>
			</nav>
		{% endblock %}

		<main class="container pt-4">

			{# Any context with breadcrumb array generates breadcrumbs #}
			{% if breadcrumbArray is defined %}
				{{_self.breadcrumbs(breadcrumbArray)}}
			{% endif %}

			{# Body content #}
			{% block body %}{% endblock %}
		</main>

		{# Javascripts #}
		{% block javascripts %}
			{# Include app.js code in every page #}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<script>
			const tour = new Shepherd.Tour({
				useModalOverlay: true,
				defaultStepOptions: {
					scrollTo: true,
					cancelIcon: {
						enabled: true,
						label: 'close help'
					}
				}
			});

			firstTourStep(tour, {
				attachTo: {
					element: '.breadcrumb',
					on: 'bottom',
				},
				title: 'Breadcrumb navigation',
				text: 'Breadcrumbs show where you are. The final \'crumb\' is the page you are currently on. Click on any additional links to jump back to that page.'
			})
		</script>

		{# A block for including tours on a page #}
		{% block tour_script %}
		<script>
			finalTourStep(tour, {
				text: 'Sorry, no additional help exists for this page yet.'
			})
		</script>
		{% endblock %}
		
		<script>
			document.getElementById('tour-button').onclick = () => {
				tour.start();
			}
		</script>
	</body>
</html>

{# Breadcrumbs function #}
{% macro breadcrumbs(breadcrumbs) %}
	<nav class="breadcrumb bg-white	border-bottom">
		{% for breadcrumb in breadcrumbs %}
			{% if breadcrumb.href %}
				<a class="breadcrumb-item" href="{{breadcrumb.href}}">{{breadcrumb.name}}</a>
			{% else %}
				<span class="breadcrumb-item active">{{breadcrumb.name}}</span>
			{% endif %}
		{% endfor %}
	</nav>
{% endmacro %}