{#
macros.html.twig
Gareth Sears - 2493194S

Functions for generating common components in Twig templates
#}

{# Generates traffic lights from surveyQuestionResponseRisk objects #}
{% macro surveyQuestionResponseRisksToTrafficLights(surveyQuestionResponseRisks) %}
	{% if surveyQuestionResponseRisks %}
		{% for risk in surveyQuestionResponseRisks %}
			{# See  \twig\AppExtension #}
			{{risk(risk)}}
		{% endfor %}
	{% else %}
		<span class="text-success">
			None
		</span>
	{% endif %}
{% endmacro %}

{# Generates an instructor card list with email links #}
{% macro instructorCardList(instructors) %}
	<div id="instructor-card-list" class="card mb-4">
		<h2 class="card-header h5">
			Course Instructors
		</h2>

		<p class="card-body small">Click the links to quickly email an instructor. <span class="text-danger">DO NOT SEND MESSAGES TO THESE ADDRESSES IN THE PROTOTYPE! For evaluation purposes, more instructors than usual may be assigned to this course.</span></p>

		{% if instructors %}
			<ul class="list-group list-group-flush">
				{% for instructor in instructors %}
					<li class="list-group-item d-flex justify-content-between">{{instructor.user.fullname}}
						<a href="mailto:{{instructor.user.email}}" class="btn btn-primary btn-sm">
							<i class="fa fa-envelope mr-2" aria-hidden="true"></i>
							Message
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p class="card-text">
				No instructors teach on this course.
			</p>
		{% endif %}
	</div>
{% endmacro %}

{# Generates a response key for question response icons #}
{% macro responseKey() %}
	<div class="card my-4 border-left-0 border-right-0">
		<div class="card-body p-1">
			<h4 class="h6 d-inline-block mb-0 ml-2">Response Key:</h4>
			<ul class="list-inline d-inline-block ml-4 mb-0">
				<li class="list-inline-item">
					<i class="fa {{global_xy_icon}}" aria-hidden="true"></i>
					- XY Question</li>
				<li class="list-inline-item">
					<i class="fa {{global_sentiment_icon}}" aria-hidden="true"></i>
					- Sentiment Question</li>
			</ul>
		</div>
	</div>
{% endmacro %}

{# Generates a valid risk view based on a risk flag #}
{% macro riskStatus(riskFlag) %}
	{% if riskFlag %}
		<span class="text-danger">
			{% if riskFlag == constant('App\\Entity\\Enrolment::FLAG_AUTOMATIC') %}
				<i class="fa fa-cog" aria-hidden="true"></i>
				Flagged Automatically
			{% elseif riskFlag == constant('App\\Entity\\Enrolment::FLAG_BY_INSTRUCTOR') %}
				<i class="fa fa-user" aria-hidden="true"></i>
				Flagged by Instructor
			{% elseif riskFlag ==  constant('App\\Entity\\Enrolment::FLAG_BY_STUDENT') %}
				<i class="fa fa-user" aria-hidden="true"></i>
				Self flagged
			{% endif %}
		</span>
	{% endif %}
{% endmacro %}
