{% macro surveyQuestionResponseRisksToTrafficLights(surveyQuestionResponseRisks) %}
	{% if surveyQuestionResponseRisks %}
		{% for risk in surveyQuestionResponseRisks %}
			{# See  \twig\AppExtension #}
			{{risk(risk)}}
		{% endfor %}
	{% else %}
		<span class="text-success">
			None
		</span>
	{% endif %}
{% endmacro %}

{% macro instructorCardList(instructors) %}
	<div id="instructor-card-list" class="card mb-4">
		<h2 class="card-header h5">
			Course Instructors
		</h2>

		{% if instructors %}
			<ul class="list-group list-group-flush">
				{% for instructor in instructors %}
					<li class="list-group-item d-flex justify-content-between">{{instructor.user.fullname}}
						<a href="mailto:{{instructor.user.email}}" class="btn btn-primary btn-sm">
							<i class="fa fa-envelope mr-2" aria-hidden="true"></i>
							Message
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p class="card-text">
				No instructors teach on this course.
			</p>
		{% endif %}
	</div>
{% endmacro %}

{% macro breadcrumbs(breadcrumbs) %}
	<nav class="breadcrumb bg-white	border-bottom">
		{% for breadcrumb in breadcrumbs %}
			{% if breadcrumb.href is defined %}
				<a class="breadcrumb-item" href="{{breadcrumb.href}}">{{breadcrumb.name}}</a>
			{% else %}
				<span class="breadcrumb-item active">{{breadcrumb.name}}</span>
			{% endif %}
		{% endfor %}
	</nav>
{% endmacro %}
